*{
    margin: 0;
    padding: 0;
}

body {
  font-family: 'Open Sans', sans-serif;
  text-align: center;
}

/* Number Guesser Header */
header {
  background-color: #404041;
  height: 100px;
}

/* Number Guesser header title text */
#header {
  color: #E6E7E8;
  display: block;
  font-size: 40px;
  line-height: 100px;
  text-align: center;
}

span {
  color: #ED458B;
  font-weight: 700;
}

/* min and max input fields */
.min-max {
  margin-top: 30px;
}

.min-button {
  width: 50px;
  height: 50px;
}

/*min input label*/
#min-label {
  display: inline-block;
}

/*max input label*/
#max-label {
  display: inline-block;
}

/* input form */
input[type=text] {
  border: solid 1px #D0D2D3;
  font-size: 30px;
  height: 25px;
  margin-top: 20px;
  padding: 6px 6px;
  width: 400px;
}

/* placeholder text */
::placeholder {
  color: #D0D2D3;
  font-weight: 300;
}

#guess-count {
  margin-top: 20px;
}

/* guess and clear buttons */
.button {
  background-color: #929497; 
  border-radius: 50px;
  color: #FFFFFF;
  display: inline-block;
  font-family: 'Open Sans', sans-serif;
  font-size: 20px;
  font-weight: 300;
  margin: 30px 10px 30px;
  padding: 5px;
  width: 170px;
}

/*styling for disabled reset button*/
button:disabled {
  background-color: #D0D2D3;
  color: #FFFFFF;
/* turns hover effects off */
  pointer-events: none;
}

/* hover styling for guess and clear buttons */
.button:hover {
  background-color: #EB008B;
  color: #FFFFFF;
}

/* your last guess was */
.your-guess-was {
  color: #404041;
  font-size: 30px;
}

/* number that was guessed */
.display-guess {
  color: #EB008B;
  font-size: 170px;
}

/* guess feedback */
.guess-feedback {
  font-color: #404041;
  font-size: 30px;
}

/* styling for reset button */
#reset-button {
  border-radius: 50px; 
  color: #FFFFFF;
  font-size: 20px;
  font-weight: 300;
  margin: 30px 10px 30px;
  padding: 5px;
  width: 400px;
}

/* hover styling for reset button */
#reset-button:hover {
  background-color: #EB008B;
  color: #FFFFFF;
}

/* why won't this work? */
#reset:disabled {
  background-color: #D0D2D3;
  color: #FFFFFF;
  pointer-events: none;
}

